         /*Navbar-Start*/
.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 40px;
  font-family:"Nav";
}
.navbar{
  background-color: #252584;
}
@font-face {
  font-family: "Nav";
  src: url("Nunito-Bold.ttf");
}
.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 329.26933 329' width='10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0'/%3E%3C/svg%3E");
}
@media (min-width:1146px) {
  .navbar{
    padding-left: 140px;
    padding-right: 220px;
    padding-top: 30px;
   }
  
}
.navbar-light .navbar-nav .active>.nav-link
{
  color: #00d7ff;
}

 /*Navbar-Closed*/


 /*Content-Start*/

 @font-face {
   font-family: "Content";
   src: url("Nunito-ExtraBold.ttf");
 }
.sec2{
  background-color: #252584;
  width: 100%;
  height: 700px;
  color: white;
  padding: 70px;
  font-size: 20px;
  position: relative;
}
.position{
  position: absolute;
  bottom: -400px;
}
@media (max-width:500px) and (min-width:300px) {
  h4,.part2{
    font-size: 20px;
    margin-top: 10px!important;
    text-align: center;
  }
  #p1,#p2{
    font-size: 12px;
    text-align: center;
  }
  #p3{
    text-align: center;
  }

  
}



@media (max-width:1200px) and (min-width:1000px) {
  h4{
    font-size: 25px!important;
  }
  #p1{
    width: 479px!important;
    font-size: 12px;
  }
  .position{
    position: absolute!important;
    bottom: -148px!important;
  }
  .part2{
    font-size: 28px!important;
  }
  #p2{
    width: 556px!important;
    font-size: 16px!important;
  }
}

@media (max-width:2000px) and (min-width:770px) {
  .set{
    margin-right: 90px;
  }

  #p1{
    color:#a6a6c2;
    padding: 10px;
    word-spacing: 8px;
    line-height: 1.8;
  }
  
}



@media (max-width:1440px) {
  .position{
    position: absolute;
    bottom: -295px;
  }
  
}
.image{
  width: 100%;

}
@media (max-width:770px) {
  h1{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-family: "bold";
 }


 .style{
   padding-top: 70px;
 }
 .position{
  top: 0;
  bottom: 0;
 }
h4,.part2{
  text-align: center;
  font-size: 25px!important;
}
#p1,#p2{
  text-align: center;
}


.design{
  flex: none;
  flex-direction: column;
 }

}
@media (max-width:500px) {
  
  .image{
    display: none;
  }
}
@media(min-width:800px) {
  .style{
    margin-top: 90px;
    padding-left: 70px;
  }
  }

h4{
  color: #252584; 
  padding: 5px;
  margin-top: 45px;
  word-spacing: 3px;
  font-family: "Content";
  font-size: 36px;
}
#p1{
  color:#a6a6c2;
  padding: 10px;
  word-spacing: 8px;
  line-height: 1.8;
  font-size: 13px;

}
.part2{
  margin-top: 45px;
  color: #252584;
  font-family: "Content";
  padding: 5px;
  word-spacing: 4px;
  font-size: 39px;
}
#p2{
  color:#a6a6c2;
  padding: 10px;
  word-spacing: 4px;
  line-height: 1.8;
  font-size: 14px;
}
/*Content-end*/

/*----Service start-----*/


@font-face {
  font-family: "Bold";
  src: url("Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: "same";
  src: url("Nunito-Bold.ttf");
}
#same{
  font-size: medium;
  padding-left: 20px;
  padding-top: 18px;
  font-family: "same";
}




.img-responsive1,.img-responsive2{
  width: 100%;
}



.svg-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}






@media (max-width:991px ) {
  .fa-search:before {
    content: "\f002";
    display: none;
  }
}
.design{
  display: flex;
  justify-content: space-between;
}



h6{
  font-size: medium;
  font-weight: lighter;

}


#card2 #img{
  width: 50px;
  height: 40px;
  border-radius: 50%;
  margin-top: 19px;
  margin-left: 10px;
  
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.button1{
  background-color: #fffede;
  color: #ffdd77;
  padding: 4px 30px;
  border: none;
  text-align: center;
  border-radius: 4px;
}
.button2{
  background-color: #eedeff;
  color: #a882d4;
  padding: 4px 30px;
  border: none;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;

}
#p3{
  color: #252584;
  font-weight: bold;
  font-size: 30px;
  font-family: "Content";
  padding: 10px;
}
@font-face {
  font-family:"Nunito-black.ttf";
  src: url("Nunito-Bold.ttf");
}

#data{
  font-size: 15px;
  padding: 5px 15px;

}

.h2{
  text-align: center;
  color: #252584;
}


label {
  display: inline-block;
  margin-bottom: .5rem;
  color :#252584;
}

@media (max-width:2000px)
and (min-width:1000px) {
  

h1{
  font-family: "bold";
  font-size: 70px;
}
}
.button3{
    background-color: #252584;;
    color:white;
    padding: 12px 80px;
    border: none;
    text-align: center;
    border-radius: 5px;
    float: right;

}

.map{
  padding-top: 40px;
  margin-top: 20px;
}

.footer{
  background-color: #252584;
  color: white;
  padding: 30px;
  width: 100%;
}

/* .p2{
   color: white;
   font-size: 20px; 
   display: inline; 
   padding-left: 10px; 
   font-weight: bold;
  
} */

h5{
  font-size: small;
  font-weight: bold;
}
.card{
  border-radius: 10px;
  box-shadow:0 5px 5px  5px #e9e9e9;
}
.card-img-top{
  border-radius: 10px;
}

#card1{
    position: relative;
    display: flex;;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow:0 5px 5px  5px #e9e9e9;
}

#card2{
    position: relative;
    display: flex;;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


