.navbar{
  background-color: #252584;
  z-index: 999;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  padding: 40px;
  font-family:"Nav";
  font-size: 20px;
}

@font-face {
  font-family: "Nav";
  src: url("Nunito-Bold.ttf");
} 
 .navbar .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

 .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 329.26933 329' width='10' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0'/%3E%3C/svg%3E");
}   


 /*Navbar-Closed*/

 /* Banner Section */

 .banner-section {
   width: 100%;
   height: 850px;
   position: relative;
   background-color: #252584;
   padding-left: 190px;
   color: white;
   margin-top: -126px;
 }

 .banner-section .my-para {
   position: relative;
   height: 726px;
   width: 100%;
 }

 .banner-section .my-para .my-content {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }
 .banner-section .my-para .my-content h1{
  font-family: "bold";
  font-size: 70px;
 }
 .banner-section .my-para .my-content p{
   
   font-size: 23px;
 }
 .banner-section .banner-image img{
   width: 100%;
   position: absolute;
   top: 55%;
   left: 20%;
  }


 /* Banner Section */


 /*Content-section*/
.content1{
 margin-top: 100px;
  width: 100%;
  height: 100%;
  
}
.content1 .contentimage1 img{
  width: 100%;
}
.content-para{
  margin-top: 80px;
  width: 550px;
}
.content-para h2{
  font-size: 38px;
  font-family: "Content";
  color: #252584;
  width: 400px;
}
.content-para p{
  margin-top: 20px;
  color: #a6a6c2;
  font-size: 20px;
  padding: 5px;
  line-height: 1.8;
}
 @font-face {
   font-family: "Content";
   src: url("Nunito-ExtraBold.ttf");
 }

.Content2{
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.content-para2{
  margin-top: 80px;
  width: 400px;
  height: 100%;
}
.content-para2 h4{
  color: #252584;
  font-size: 38px;
  font-family: "Content";

}
.content-para2 p{
  color: #a6a6c2;
  font-size: 18px;
  line-height: 1.6;
  word-spacing: 3px;
  margin-top: 20px;
}
.Content2 .content-image2 img{
  width: 100%;
}




.img-responsive1,.img-responsive2{
  width: 100%;
}
/*Content-end*/

/*----Service start-----*/

.Services{
  margin-top: 150px;
}
.Services .svg-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: red;
}
.Services .head{
  width: 400px;
}
.Services .head h3{
  font-family: "Bold";
  font-size: 25px;
  color: #252584;
}
@font-face {
  font-family: "Bold";
  src: url("Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: "same";
  src: url("Nunito-Light.ttf");
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.heading{
  width: 100%;
  padding-left: 30px;
}
.swiper-slide .card2 .heading h5{
  margin-bottom: 0px;
  font-family: "Bold";
  font-weight: bolder;
  font-size: 15px;
}
.swiper-slide .card2 .heading p{
  font-family: "same";
  font-weight: lighter;
  color: #9d9d9d;
  margin-top: 5px;
}
.swiper-slide .card2 .paragraph p{
  font-size: 15px;
  padding: 5px 15px;
  color: #616161;
}

.card2 img{
  width: 50px;
  height: 40px;
  border-radius: 50%;
  margin-top: 19px;
  margin-left: 10px;
  
}

/* Important Peoples */

.Important{
  margin-top: 120px;
 
}
.Important .svg-image2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #ff00b8;
}
.Important .head2 h3{
  color: #252584;
  font-family: "Bold";
  font-size: 32px;
}
.Important .buttons .button1{
  background-color: #fffede;
  color: #ffdd77;
  padding: 4px 30px;
  border: none;
  text-align: center;
  border-radius: 4px;
}
.Important .buttons .button2{
  background-color: #eedeff;
  color: #a882d4;
  padding: 4px 30px;
  border: none;
  text-align: center;
  border-radius: 4px;
  margin-left: 5px;

}



/*Cards Section */
.cards{
  margin-top: 100px;
  width: 100%;
  padding: 10px 30px;
}
.cards .card{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border: none;
  border-radius: 10px;
 margin-bottom: 20px;
 
}
.cards .card .card-img-top{
  position: relative;
  width: 100%;
  height: 100%;
}
.cards .card  .icon-img{
  background-color: #dcf0ff;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 31px;
  visibility: hidden;
}
.card:hover .icon-img {
  visibility: visible;
}
.card .card-body h6{
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
}
.card .card-body p{
  text-align: center;
  color: #9d9d9d;
  padding-top: 5px;
}

/*Cards Section*/



/* Icons */
.partners{
  margin-top: 120px;
  width: 100%;
  height: 100%;

}
.partners .about p {
  font-family: "Bold";
  color: #252584;
  font-size: 30px;

}
.design{
  display: flex;
}








@font-face {
  font-family:"Nunito-black.ttf";
  src: url("Nunito-Bold.ttf");
}





label {
  display: inline-block;
  margin-bottom: .5rem;
  color :#252584;
}


.button3{
    background-color: #252584;;
    color:white;
    padding: 12px 80px;
    border: none;
    text-align: center;
    border-radius: 5px;
    float: right;

}
.footer{
  background-color: #252584;
  color: white;
  padding: 30px;
  width: 100%;
}

.p2{
   color: white;
   font-size: 26px; 
   display: inline; 
   padding-left: 10px; 
   font-weight: bold;
   font-family: "bold";
  
}


input[type=NAME],[type=email]{
  font-size: 16px;
  padding: 20px;
}
#exampleFormControlSelect1{
  font-size: 16px;
}
#comment{
  font-size: 16px;

  
}
#card1{
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: .25rem;
    height: 650px;
}


/*Media Queries*/
@media screen and (min-width:1250px) {
  .Content2 .content-image2 img{
    position: absolute;
    left:15%;
  }
  .Services,.Important{
    padding-right: 260px;
  }
}
@media (max-width:1800px) and (min-width:1200px){
  .content-para{
    margin-top: 68px;
  
  }
  .content1{
    padding: 0px 50px;
  }
  .content-para h2 , .content-para2 h4{
    font-size: 35px;
  }
  .content-para p  {
    font-size: 14px;
    width: 502px;
  }
  .content-para2 p{
    font-size: 14px;
  }
}
@media (min-width:1200px) {
  .navbar{
    padding-left: 190px;
    padding-right: 140px;
  }
}

@media (max-width:1200px) {
  .svg1{
    display: none;
    }
    .banner-section{
      padding-left: 10px;
    }
    .content-para h2{
      width: 100%;
      text-align: center;
    }
    
}
@media (max-width:1200px) and (min-width:990px){
  .content-para{
    margin-top: 50px;
  }
  .content-para h2 ,.content-para2 h4{
    font-size: 30px;
    text-align: start;
  }
  .content-para p ,.content-para2 p{
    font-size: 15px;
    margin-top: 10px;
  }
}
@media (max-width:991px) {
.content-para{
    width: 100%;
  }
.content-para2{
  width: 100%;
}
 
}



@media (max-width:770px) {
  .banner-section .banner-image img{
    top: 30%;
    left: 70%;
   }
   .banner-section .my-para .my-content h1{
     font-size: 46px;
   }
  .content-para p ,.content-para2 p{
   font-size: 20px;
   text-align: center;
  }
  .content-para ,.content-para2{
    margin-top: 10px;
  }

  .content-para h2 ,.content-para2 h4{
    text-align: center;
    font-size: 48px;

  }
  
}
@media (max-width:766px) {
  .banner-image{
    display: none;
  }
  
}
@media (max-width:500px) {
  .banner-section .my-para .my-content h1{
    font-size: 42px;
    text-align: center;
  }
  .banner-section .my-para .my-content p{
    font-size: 23px;
    text-align: center;
  }
 
  .content-para p , .content-para2 p{
    font-size: 13px;
    text-align: center;
  }
  .content-para h2 , .content-para2 h4{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
  }
  .Services .svg-image{
    display: flex;
    justify-content: center;
  }
  .image{
    display: none;
  }
  .Services .head h3{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



